<div class="container-search">
  <div style="position: relative; text-align: center">
    <div class="modal-btn-close">
      <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <h2 mat-dialog-title>Seleccionar categoría</h2>
  </div>
  <div class="content" mat-dialog-content>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Predictor">
        <app-category-predictor
          (onCatSelect)="selCategory($event)"
        ></app-category-predictor>
      </mat-tab>
      <mat-tab label="Arbol">
        <app-category-tree
          (onCatSelect)="selCategory($event)"
        ></app-category-tree>
      </mat-tab>
      <mat-tab label="Más utilizadas">
        <app-category-used
          (onCatSelect)="selCategory($event)"
        ></app-category-used>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions class="actions" [align]="'end'">
    <button mat-raised-button [mat-dialog-close]="false">Cancelar</button>
    <button
      (click)="selectCategory()"
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
    >
      Seleccionar
    </button>
  </div>
</div>
