<div class="row">
  <div class="col-sm-8">
    <mat-form-field class="control-sm full-width" appearance="outline">
      <mat-label>Categoría</mat-label>
      <input matInput type="text" readonly [value]="category?.full_name" />
    </mat-form-field>
  </div>
  <div class="col-sm-4">
    <mat-form-field class="control-sm full-width" appearance="outline">
      <mat-label>Cat Id</mat-label>
      <input matInput type="text" readonly [value]="category?.id" />

      <button
        (click)="seachCategory()"
        mat-icon-button
        matSuffix
        aria-label="Example icon-button with a heart icon"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
