<div style="position: relative; text-align: center">
  <div class="modal-btn-close">
    <button mat-icon-button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <h2 mat-dialog-title>Cambio de contraseña</h2>

  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        autocomplete="off"
        matInput
        [type]="hideOldPassword ? 'password' : 'text'"
        formControlName="oldPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideOldPassword = !hideOldPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideOldPassword"
      >
        <mat-icon>{{
          hideOldPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="oldPasswordValue?.hasError('required')">
        Campo requerido
      </mat-error>
      <mat-error *ngIf="oldPasswordValue?.hasError('minlength')">
        Mínimo 8 caracteres
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nueva Contraseña</mat-label>
      <input
        autocomplete="off"
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordValue?.hasError('required')">
        Campo requerido
      </mat-error>
      <mat-error *ngIf="passwordValue?.hasError('minlength')">
        Mínimo 8 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Confirmación Contraseña</mat-label>
      <input
        autocomplete="off"
        matInput
        [type]="hideConfirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword"
      >
        <mat-icon>{{
          hideConfirmPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPasswordValue?.hasError('not_matching')">
        El password no coincide
      </mat-error>
      <mat-error *ngIf="confirmPasswordValue?.hasError('required')">
        Campo requerido
      </mat-error>
      <mat-error *ngIf="confirmPasswordValue?.hasError('minlength')">
        Mínimo 8 caracteres
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions class="actions">
      <button mat-raised-button [mat-dialog-close]="false">Cancelar</button>
      <button [disabled]="form.invalid" mat-raised-button color="primary">
        <!-- [mat-dialog-close]="true" -->
        Modificar
      </button>
    </div>
  </form>
</div>
