.item {
  width: 100%;
}

.admin {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
  button {
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      width: 200px;
    }
  }
}
