<div fxLayout="column" class="feature-container mt">
  <div fxLayout="row" fxLayoutGap.gt-xs="30px" fxLayout.xs="column">
    <app-status class="full-width"></app-status>
    <app-quantity class="full-width"></app-quantity>
  </div>
  <div fxLayout="row" fxLayoutGap.gt-xs="30px" fxLayout.xs="column">
    <app-condition class="full-width"></app-condition>
    <app-listing class="full-width"></app-listing>
  </div>
  <div fxLayout="row" fxLayoutGap.gt-xs="30px" fxLayout.xs="column">
    <app-price class="full-width"></app-price>
    <app-purchase-max-quantity class="full-width"></app-purchase-max-quantity>
  </div>
  <div fxLayout="row" fxLayoutGap.gt-xs="30px" fxLayout.xs="column">
    <app-warranty class="full-width"></app-warranty>
  </div>
  <div fxLayout="row" fxLayoutGap.gt-xs="30px" fxLayout.xs="column">
    <app-description class="full-width"></app-description>
  </div>
  <div fxLayout="row" fxLayoutGap.gt-xs="30px" fxLayout.xs="column">
    <app-video class="full-width"></app-video>
  </div>
</div>
