<caption class="container-grid">
  <mat-form-field class="control-sm" appearance="outline">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
  <div class="actions">
    <button
      (click)="createCategory()"
      mat-raised-button
      type="button"
      class="btn-upload"
      color="primary"
    >
      Agregar categoría
    </button>
  </div>
</caption>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.full_name }}</td>
    </ng-container>

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Imagen</th>
      <td mat-cell *matCellDef="let row">
        <img class="table-img" src="{{ row.picture }}" alt="" />
      </td>
    </ng-container> -->

    <!-- secure_url Column -->
    <ng-container matColumnDef="description_web">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Web</th>
      <td mat-cell *matCellDef="let row">
        {{ row.description_web }}
        <!-- <img class="table-img" src="{{ row.description_web }}" alt="" /> -->
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <div class="category-actions">
          <button
            mat-icon-button
            type="button"
            color="warn"
            aria-label="icon-button for delete image"
            (click)="deleteCat(row)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-icon-button
            type="button"
            color="primary"
            aria-label="icon-button for delete image"
            (click)="editCat(row)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        <br />
        <mat-spinner
          *ngIf="loading"
          class="spinner"
          diameter="50"
        ></mat-spinner>
        <br />
        <p *ngIf="!loading">No hay datos para mostrar "{{ input.value }}"</p>
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
