<div style="position: relative; text-align: center">
  <div class="modal-btn-close">
    <button mat-icon-button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <h2 mat-dialog-title>{{ data.title }}</h2>
</div>
<hr />
<div mat-dialog-content>{{ data.message }}</div>
<hr />
<div mat-dialog-actions class="actions" [align]="'end'">
  <button mat-raised-button [mat-dialog-close]="false">
    {{ data.cancelText }}
  </button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">
    {{ data.confirmText }}
  </button>
</div>
