<div class="pictures-container mt">
  <div
    class="example-list"
    cdkDropList
    #prodPictList="cdkDropList"
    [cdkDropListData]="prodPictures"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      class="example-box"
      style="position: relative"
      *ngFor="let item of prodPictures"
      cdkDrag
    >
      <img class="picture" alt="gallery" [src]="item.secure_url" />
      <!-- on:click={(e) => deletePicture(picture.id)} class="" -->
      <button
        (click)="deleteImg(item.id)"
        style="position: absolute; top: -10px; right: -10px; z-index: 100"
        mat-icon-button
        matSuffix
      >
        <mat-icon style="color: red">delete</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-tab-group class="add-pictures mt" animationDuration="0ms">
  <mat-tab label="Upload">
    <app-upload-image (addImage)="onAddImage($event)"></app-upload-image>
  </mat-tab>
  <mat-tab label="Preconfiguradas">
    <!-- PRECONFIGURADAS -->
    <div class="example-container mt">
      <div
        class="example-list"
        cdkDropList
        #settingsList="cdkDropList"
        [cdkDropListData]="settingsPic"
        [cdkDropListConnectedTo]="[prodPictList]"
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of settingsPic" cdkDrag>
          <img class="picture" alt="gallery" [src]="item.secure_url" />
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
