.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
// background-color: aliceblue;

.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
}

.full-width {
  width: 100%;
}

button {
  height: 50px;
}

mat-icon {
  color: #3f51b5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: black !important;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
}
