<div
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap.gt-xs="30px"
  fxLayout.lt-md="column"
>
  <table class="detail-table">
    <thead>
      <th>Feature</th>
      <th>Local</th>
      <th>ML</th>
      <th>Web</th>
    </thead>
    <tbody>
      <tr style="border-top: 1px solid gray">
        <td>ID</td>
        <td>{{ element.id }}</td>
        <td>{{ element.prodMl.id }}</td>
        <td *ngIf="element.prodWeb">{{ element.prodWeb.id }}</td>
        <td *ngIf="!element.prodWeb">Migrar</td>
      </tr>
      <tr>
        <td>Precio</td>
        <td>{{ element.price }}</td>
        <td>
          <app-input
            label="Precio"
            [value]="element.prodMl.price"
            field="price"
            type="number"
            [min]="200"
            [mlId]="element.prodMl.id"
            [id]="element.id"
            (selected)="onSelected($event)"
          >
          </app-input>
        </td>
        <td *ngIf="element.prodWeb">{{ element.prodWeb.price }}</td>
        <td *ngIf="!element.prodWeb">Migrar</td>
      </tr>
      <tr>
        <td>Estado</td>
        <td>{{ element.status | trad: "PROD_STATUS" }}</td>

        <td>
          <app-select
            label="Estado"
            [options]="optionStatusML"
            [value]="element.prodMl.status"
            field="status"
            traduction="PROD_STATUS"
            [mlId]="element.prodMl.id"
            [id]="element.id"
            (selected)="onSelected($event)"
          ></app-select>
        </td>

        <td *ngIf="element.prodWeb">
          {{ element.prodWeb.status | trad: "PROD_STATUS" }}
        </td>
        <td *ngIf="!element.prodWeb">Migrar</td>
      </tr>
      <tr>
        <td>Cantidad</td>
        <td>{{ element.available_quantity }}</td>
        <td>
          <app-input
            label="Cantidad"
            [value]="element.prodMl.available_quantity"
            field="available_quantity"
            type="number"
            [min]="0"
            [disabled]="element.variations.length > 0"
            [mlId]="element.prodMl.id"
            [id]="element.id"
            (selected)="onSelected($event)"
          >
          </app-input>
        </td>

        <td *ngIf="element.prodWeb">
          {{ element.prodWeb.available_quantity }}
        </td>
        <td *ngIf="!element.prodWeb">Migrar</td>
      </tr>
    </tbody>
  </table>

  <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
    <p #tooltip="matTooltip" matTooltipPosition="left" matTooltip="Categoría">
      {{ element.category_id }}
    </p>
    <button
      class="btn-detail btn-detail-rect"
      (click)="editProduct(element)"
      mat-raised-button
      color="primary"
    >
      Editar
    </button>
    <button
      [disabled]="element.prodMl === null"
      class="btn-detail btn-detail-rect"
      (click)="viewMlProduct(element)"
      mat-raised-button
      color="primary"
    >
      Ver ML
    </button>
  </div>
</div>
