<h2 class="mt-4 text-center">Atributos de las variaciones</h2>

<form
  [formGroup]="attributesForm"
  #formDirective="ngForm"
  (submit)="createVariation(formDirective)"
>
  <div>
    <div class="row" *ngFor="let attrib of attributes; let i = index">
      <div class="col">
        <!-- input -->
        <mat-form-field
          *ngIf="!attrib.hasOwnProperty('values')"
          class="full-width control-sm"
          appearance="outline"
        >
          <mat-label>
            <span *ngIf="attrib.source === 'custom'"
              >Atributo personalizado:
            </span>
            {{ attrib.name }}</mat-label
          >
          <input
            [formControlName]="attrib.id"
            *ngIf="!attrib.hasOwnProperty('values')"
            matInput
            type="text"
          />
          <mat-error *ngIf="getAtrribError(attrib.id)">
            Campo requerido
          </mat-error>
        </mat-form-field>
        <!-- select -->
        <mat-form-field
          class="control-sm full-width"
          *ngIf="attrib.hasOwnProperty('values')"
          appearance="outline"
        >
          <mat-label> {{ attrib.name }}</mat-label>
          <mat-select [formControlName]="attrib.id" multiple>
            <mat-option
              *ngFor="let value of attrib.values | orderBy: 'name'"
              value="{{ value.id }}"
              >{{ value.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="getAtrribError(attrib.id)?.hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row mt-2 justify-content-between">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12 col-md-6 mt-2">
          <button
            (click)="onAddAttrib()"
            type="button"
            [disabled]="customAttribute || variations.length > 0"
            mat-raised-button
            class="full-width"
            color="primary"
          >
            Agregar Atributo
          </button>
        </div>
        <div class="col-12 col-md-6 mt-2">
          <button
            (click)="onDelAttrib()"
            [disabled]="
              !(customAttribute && attributes.length > 0) ||
              variations.length > 0
            "
            type="button"
            mat-raised-button
            class="full-width"
            color="primary"
          >
            Eliminar Atributo
          </button>
        </div>
      </div>
    </div>
    {{ attributesForm.valid }}
    <div class="col-12 col-md-3 mt-2">
      <!-- [disabled]="!attributesForm.valid" -->

      <button
        type="submit"
        mat-raised-button
        class="full-width"
        color="primary"
      >
        Crear variación
      </button>
    </div>
  </div>
</form>
