<div class="recovery-container">
  <div class="recovery">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

    <form *ngIf="!loading && !token" [formGroup]="form" (ngSubmit)="recovery()">
      <img
        src="./assets/images/login_user.png"
        alt="Formualario para recovery password"
        width="40%"
      />
      <h1>Reestablecer contraseña</h1>

      <small
        >Te enviaremos un email con las indicaciones para cambiar la contraseña.
        Ingrea un email Válido.
      </small>
      <br />
      <br />

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="emailValue?.hasError('required')">
          Campo requerido
        </mat-error>
        <mat-error *ngIf="emailValue?.hasError('email')">
          Email no válido
        </mat-error>
      </mat-form-field>
      <br />
      <button
        [disabled]="form.invalid"
        class="full-width"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Recuperar contraseña
      </button>
      <br />
      <br />

      ¿No tienes cuenta? <a routerLink="/register">Registrarse</a>
    </form>

    <form
      *ngIf="!loading && token"
      [formGroup]="formChangePass"
      (ngSubmit)="changePassword()"
    >
      <img
        src="./assets/images/login_user.png"
        alt="Formualario para recovery password"
        width="40%"
      />
      <h1>Cambiar contraseña</h1>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          autocomplete="off"
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordValue?.hasError('required')">
          Campo requerido
        </mat-error>
        <mat-error *ngIf="passwordValue?.hasError('minlength')">
          Mínimo 8 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input
          autocomplete="off"
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPassword"
        >
          <mat-icon>{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPasswordValue?.hasError('not_matching')">
          El password no coincide
        </mat-error>
        <mat-error *ngIf="confirmPasswordValue?.hasError('required')">
          Campo requerido
        </mat-error>
        <mat-error *ngIf="confirmPasswordValue?.hasError('minlength')">
          Mínimo 8 caracteres
        </mat-error>
      </mat-form-field>
      <br />
      <br />
      <button
        [disabled]="formChangePass.invalid"
        class="full-width"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Cambiar contraseña
      </button>
    </form>
  </div>
</div>
