.recovery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  align-items: center;
}

.recovery {
  width: 100%;
  max-width: 330px;
  text-align: center;
}

button {
  height: 50px;
}
