<div class="container">
  <div class="actions">
    <mat-form-field class="full-width control-sm" appearance="outline">
      <mat-label>Nickname</mat-label>
      <input matInput type="text" [formControl]="nicknameField" />
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="nicknameField?.hasError('required')">
        Campo requerido
      </mat-error>
    </mat-form-field>

    <div>
      <button
        [disabled]="!nicknameField.invalid || nicknameField.value?.length === 0"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Desvincular
      </button>
    </div>
    <div>
      <button
        (click)="handleAuth()"
        [disabled]="nicknameField.invalid"
        type="submit"
        mat-raised-button
        color="primary"
      >
        Autorizar
      </button>
    </div>
  </div>
</div>
