@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  color: #3f51b5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: black !important;
}

.modal-btn-close {
  position: absolute;
  top: -22px;
  right: -22px;
  cursor: pointer;
}

.control-rigth {
  display: flex;
  justify-content: flex-end;
}

.control-center {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.mt {
  margin-top: 1rem;
}

.ml {
  margin-left: 1rem;
}
.spinner {
  margin-left: auto;
  margin-right: auto;
}

.snackbar-error {
  background-color: red;
  color: white;
}

.snackbar-success {
  background-color: green;
  color: white;
}

.snackbar-info {
  background-color: #333;
  color: white;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  // background-color: rgba(74, 74, 74, 0.8);
  background-color: rgba(240, 240, 240, 0.1);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
.responsive-table tr:nth-of-type(odd) {
  background: #eee;
}
.responsive-table th {
  background: #333;
  color: white;
  font-weight: normal;
}
.responsive-table td,
.responsive-table th {
  font-size: 14px;
  padding: 2px 6px;
  border: 1px solid #ccc;
  text-align: center;
}

@media only screen and (max-width: 1024px),
  (min-device-width: 320px) and (max-device-width: 1024px) /* Force table to not be like tables anymore */ {
  .responsive-table table,
  .responsive-table thead,
  .responsive-table tbody,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr {
    display: block;
  }

  .responsive-table {
    width: 50%;
    /* max-width: 1024px; */
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive-table tr {
    border: 1px solid #888;
    margin-top: 20px;
    border-radius: 10px;
  }

  .responsive-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #888;
    position: relative;
    padding-left: 30%;
    min-height: 27.5px;
  }

  .responsive-table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 25%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
  }
}

/************* Material ***************/
/* Reuducir el alto de mat-form-field */
.control-sm {
  .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0 !important;
  }
  .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }
}

/* Altura del input para que entre los tildes en mayúsulas (Ñ, Ó) */
.mat-input-element {
  height: 1rem;
}

mat-form-field {
  mat-icon {
    color: #3f51b5;
  }
}
/************* Material ***************/
