/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  color: #3f51b5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: black !important;
}

.modal-btn-close {
  position: absolute;
  top: -22px;
  right: -22px;
  cursor: pointer;
}

.control-rigth {
  display: flex;
  justify-content: flex-end;
}

.control-center {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.mt {
  margin-top: 1rem;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
}

.snackbar-error {
  background-color: red;
  color: white;
}

.snackbar-success {
  background-color: green;
  color: white;
}

.snackbar-info {
  background-color: #333;
  color: white;
}
/************* Material ***************/
/* Reuducir el alto de mat-form-field */
.control-sm {
  .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0 !important;
  }
  .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }
}

/* Altura del input para que entre los tildes en mayúsulas (Ñ, Ó) */
.mat-input-element {
  height: 1rem;
}

mat-form-field {
  mat-icon {
    color: #3f51b5;
  }
}
/************* Material ***************/
