.product-table-resumen {
  margin: 0.5rem;
  padding: 5px;
  background-color: #b9c9fe;
  border-radius: 5px;
}

table {
  width: 100%;
}

.btn-detail {
  margin-right: 1vw;
  background: #4285f4;
  color: white;
  font-size: 0.9rem;
  line-height: 1.5rem;
  height: auto;
  width: auto;
}

.btn-detail-rect {
  width: 100%;
}

/* Table Expansible */
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
