<div *ngIf="isLoading$ | async" class="overlay">
  <mat-spinner class="spinner" diameter="50"></mat-spinner>
</div>
<nav-cms (menu)="onToggleMenu()"></nav-cms>
<div>
  <mat-sidenav-container
    [ngClass]="{ expanded: isExpanded }"
    autosize
    class="sidenav-container"
  >
    <mat-sidenav class="sidenav" #sidenav [mode]="side" [(opened)]="showMenu">
      <mat-nav-list>
        <mat-list-item class="list-item" (click)="isExpanded = !isExpanded">
          <mat-icon
            mat-list-icon
            class="chevron-button"
            [ngClass]="{ rotated: isExpanded }"
            >chevron_right</mat-icon
          >
        </mat-list-item>

        <mat-list-item [routerLink]="'dashboard'">
          <mat-icon mat-list-icon class="">home</mat-icon>
          <span *ngIf="isExpanded">Dashboard</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'settings'">
          <mat-icon mat-list-icon class="">settings</mat-icon>
          <span *ngIf="isExpanded">Configuración</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'users'">
          <mat-icon mat-list-icon class="">group</mat-icon>
          <span *ngIf="isExpanded">Usuarios</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'categories'">
          <mat-icon mat-list-icon class="">category</mat-icon>
          <span *ngIf="isExpanded">Categorías</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'products'">
          <mat-icon mat-list-icon class="">qr_code</mat-icon>
          <span *ngIf="isExpanded">Productos</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'questions'">
          <mat-icon mat-list-icon class="">question_mark</mat-icon>
          <span *ngIf="isExpanded">Preguntas</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'orders'">
          <mat-icon mat-list-icon class="">shopping_cart</mat-icon>
          <span *ngIf="isExpanded">Ventas</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="flex-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
